.DS_Store
.project
.jshintrc
npm-debug.log
.idea/
.vs/
node_modules



# 忽略当前路径下的logs目录，包含logs下的所有子目录和文件
logs/
# 忽略根目录下的test.txt文件  无法忽略index.txt文件
/test.txt
# 忽略tmp目录下的.txt文件
tmp/*.txt

# 忽略所有后缀为.class的文件
*.class
# 不忽略classes目录下的a.class文件
!/classes/a.class

# 可以忽略/foo, a/foo, a/b/foo等
**/foo
